// app global css in Sass form

.item
  background: white
  color: $primary
  border-radius: 5px
  margin: 5px 8px 5px 8px

.item-active
  background: $primary
  color: white
  border-radius: 5px
  margin: 5px 8px 5px 8px


.list-left 
  opacity: 0
  -webkit-transition: 1.5s
  transition: 1.5s
  -webkit-transform: translate(-24px, 0px)
          transform: translate(-24px, 0px)

.show-parallax 
  opacity: 1 !important
  -webkit-transform: translate(0, 0) !important